[core]
    editor = "code --wait"
    excludesfile = ~/.gitignore
    # fsmonitor = true
    # untrackedCache = true

[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[format]
    pretty = fuller
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[log]
    date = iso
[merge]
    conflictstyle = zdiff3
[pager]
    diff=false
[pull]
    rebase = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
[tag]
    sort = version:refname

[alias]
    br = branch -v
    c = commit
    co = checkout
    dft = difftool
    dump = cat-file -p
    empty-commit = commit --allow-empty
    hist = log --pretty=format:'%C(auto)%h %as | %C(cyan)[%an]%C(auto) %s%d' --graph --color
    out = "log @{u}.."
    pdiff = --paginate diff
    pnp = "!git pull --rebase && git push"
    s = status
    st = stash
    sl = stash list --color --format='%C(yellow)%h%Creset %gs' --stat
    sp = stash pop --index
    ss = stash save --staged
    type = cat-file -t
